# Default ignored files
/shelf/
/.idea/workspace.xml
*.idea
*.iml
out
*.txt

# Configuration files with sensitive data
Network Simulator/config.properties

# Compiled class files
Network Simulator/bin/
*.class